.buttonMenu{
    position: absolute;
    z-index: 4;
    background-color: #276efe;
    margin: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonMenu.close{
    background-color: white;
    color: #276efe;
}

.buttonEspelhar{
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #276efe;
    color: white;
}

.buttonEspelhar:hover{
    background-color: white;
    color: #276efe;
}

.buttonImagem {
    text-align: center;
    background-color: #276efe;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    cursor: pointer;
}

.buttonImagem:hover {
    background-color: white;
    color: #276efe;
}

.containerMenu{
    position: absolute;
    top: 60px;
    left: 10px;
    background: rgba(60, 45, 45, 0.5);
    padding: 15px 10px;
    border-radius: 8px;
    z-index: 3;
    color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.container{
    position: relative; 
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
}